# ======================
# ENV & SECRETS
# ======================
.env
.env.backup

# ======================
# DATA SENSITIVE
# ======================
csv/
db/
documents/

# ======================
# RUNTIME OUTPUT
# ======================
complete_enterprise_evaluation_results/
logs/
cache/
logs/
# ======================
# PYTHON
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store

# ======================
# VIRTUAL ENV
# ======================
venv/
venv-camelot/

# ======================
# BACKUP & TEMP
# ======================
*.backup
*.bak
rag_engine.py.backup.*
testing/

# ======================
# DEBUG FILES
# ======================
debug_input.html
debug_voice.html
macos_chrome_speech_fix.html
debug_visualization.html
debug_speech.html
hr_analytics_test.html
scripts/
index.html
app.js
test
test_db.py
test.py
test.wav

debug_analysis_routing.py
debug_backend.py

integration_example.html